.p1{
    width: 200px;
    height: 200px;
    background-color: red;
}
.p2{
     width: 200px;
     height: 200px;
     background-color: green;
 }
.p3{
      width: 200px;
      height: 200px;
      background-color: blue;
  }